[submodule "vim/vim.symlink/pack/plugin/start/coc.nvim"]
	path = vim/vim.symlink/pack/plugin/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "zsh/plugin/zsh-syntax-highlighting"]
	path = zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugin/typewritten"]
	path = zsh/plugin/typewritten
	url = https://github.com/reobin/typewritten
[submodule "vim/vim.symlink/pack/plugin/start/vim-commentary"]
	path = vim/vim.symlink/pack/plugin/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/vim.symlink/pack/plugin/start/vim-fugitive"]
	path = vim/vim.symlink/pack/plugin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim.symlink/pack/plugin/start/vim-eunuch"]
	path = vim/vim.symlink/pack/plugin/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/vim.symlink/pack/plugin/start/vim-vinegar"]
	path = vim/vim.symlink/pack/plugin/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/vim.symlink/pack/plugin/start/vim-surround"]
	path = vim/vim.symlink/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim.symlink/pack/plugin/start/vim-repeat"]
	path = vim/vim.symlink/pack/plugin/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/vim.symlink/pack/plugin/start/vim-speeddating"]
	path = vim/vim.symlink/pack/plugin/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "vim/vim.symlink/pack/plugin/start/vim-highlightedyank"]
	path = vim/vim.symlink/pack/plugin/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "vim/vim.symlink/pack/plugin/start/fzf.vim"]
	path = vim/vim.symlink/pack/plugin/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/vim.symlink/pack/plugin/start/fzf"]
	path = vim/vim.symlink/pack/plugin/start/fzf
	url = https://github.com/junegunn/fzf
