[submodule "vim/vim/pack/plugins/start/rust.vim"]
	path = vim/vim.symlink/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/vim/pack/plugins/start/vim-racer"]
	path = vim/vim.symlink/pack/plugins/start/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "vim/vim.symlink/pack/plugins/start/coc.nvim"]
	path = vim/vim.symlink/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
