[submodule "vim/vim/pack/plugin/start/rust.vim"]
	path = vim/vim.symlink/pack/plugin/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/vim.symlink/pack/plugin/start/coc.nvim"]
	path = vim/vim.symlink/pack/plugin/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim/vim.symlink/pack/plugin/start/nerdtree"]
	path = vim/vim.symlink/pack/plugin/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "zsh/plugin/zsh-syntax-highlighting"]
	path = zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugin/typewritten"]
	path = zsh/plugin/typewritten
	url = https://github.com/reobin/typewritten
[submodule "vim/vim.symlink/pack/plugin/start/vim-commentary"]
	path = vim/vim.symlink/pack/plugin/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
